/* 
 * Dictionaries API
 *
 * <p>API to access the buildingSMART Data Dictionary.</p><p>For manually uploading import files, please go to <a href=\"https://manage.bsdd.buildingsmart.org\">bSDD Management portal</a>. Version history can be found at <a href=\"https://github.com/buildingSMART/bSDD/blob/master/API%20version%20history.md\">Version history</a>.</p><p>Keep an eye on (planned) updates: <a href=\"https://forums.buildingsmart.org/t/bsdd-tech-updates/4889\">bSDD tech updates</a></p><h3>For client developers</h3><p>If you're creating a desktop client that only calls the not secured APIs, you're ready to go.<br/>If you don't use the secured APIs but want to call the other APIs from your website or SPA, then we need the URL of your website to allow CORS.</p><p>If you are going to build a client that is going to use secured APIs, you must request a Client ID. You can do so by sending us an email and give:</p><ul><li>the name of the client application</li><li>type of application:<ul><li>Web application</li><li>Single-page application</li><li>iOS / macOS, Object-C, Swift, Xamarin</li><li>Adroid - Java, Kotlin, Xamarin</li><li>Mobile/desktop</li></ul> <li>which development language are you using? (sometimes the redirectUri to be configured depends on the used library)</li><li>if it is a website or SPA, specify the return url (the login page will redirect to this url after user has logged in)</li></ul>
 *
 * OpenAPI spec version: v1
 * Contact: bsdd_support@buildingsmart.org
 * Generated by: https://github.com/swagger-api/swagger-codegen.git
 */

using System.Collections.ObjectModel;
using ConsoleDemo.ApiClient;
using ConsoleDemo.Model;

namespace ConsoleDemo.ApiServices;

/// <summary>
/// Represents a collection of functions to interact with the API endpoints
/// </summary>
public interface IDictionaryUpdateApi
{
    /// <summary>
    /// Delete all versions of a dictionary
    /// </summary>
    /// <remarks>
    /// 
    /// </remarks>
    /// <exception cref="BsddApiException">Thrown when fails to make API call</exception>
    /// <param name="organizationCode"></param>
    /// <param name="code"></param>
    /// <returns>Task of void</returns>
    Task DictionaryUpdateDeleteAsync (string organizationCode, string code, CancellationToken ct = default);

    /// <summary>
    /// Delete a dictionary version
    /// </summary>
    /// <remarks>
    /// 
    /// </remarks>
    /// <exception cref="BsddApiException">Thrown when fails to make API call</exception>
    /// <param name="organizationCode"></param>
    /// <param name="code"></param>
    /// <param name="version"></param>
    /// <returns>Task of void</returns>
    Task DictionaryUpdateDeleteVersionAsync (string organizationCode, string code, string version, CancellationToken ct = default);

    /// <summary>
    /// Update the status of a Dictionary
    /// </summary>
    /// <remarks>
    /// 
    /// </remarks>
    /// <exception cref="BsddApiException">Thrown when fails to make API call</exception>
    /// <param name="organizationCode"></param>
    /// <param name="code"></param>
    /// <param name="version"></param>
    /// <param name="body">The new status of the dictionary. Only transitions allowed are: Preview --&gt; Active, Active --&gt; Inactive and Inactive --&gt; Active (optional)</param>
    /// <returns>Task of void</returns>
    Task DictionaryUpdateStatusAsync (string organizationCode, string code, string version, string? body = null, CancellationToken ct = default);

    /// <summary>
    /// Upload a bSDD import model json file, see https://github.com/buildingSMART/bSDD/tree/master/Model/Import%20Model for more information.  Validation will be done asynchronously for large files (&gt;&#x3D; 15 MB). Validation results will be sent by e-mail.
    /// </summary>
    /// <remarks>
    /// 
    /// </remarks>
    /// <exception cref="BsddApiException">Thrown when fails to make API call</exception>
    /// <param name="organizationCode"> (optional)</param>
    /// <param name="formFile"> (optional)</param>
    /// <param name="validateOnly"> (optional)</param>
    /// <param name="isTest"> (optional)</param>
    /// <returns>Task of UploadImportFileResultV2</returns>
    Task<UploadImportFileResultV2> UploadImportFilePostAsync (string? organizationCode = null, byte[]? formFile = null, bool? validateOnly = null, bool? isTest = null, CancellationToken ct = default);
}

/// <summary>
/// Represents a collection of functions to interact with the API endpoints
/// </summary>
public class DictionaryUpdateApi(BsddApiClient bsddApiClient) : IDictionaryUpdateApi
{
    /// <summary>
    /// Delete all versions of a dictionary 
    /// </summary>
    /// <exception cref="BsddApiException">Thrown when fails to make API call</exception>
    /// <param name="organizationCode"></param>
    /// <param name="code"></param>
    /// <returns>Task of ApiResponse</returns>
    public async Task DictionaryUpdateDeleteAsyncWithHttpInfo (string organizationCode, string code, CancellationToken ct = default)
    {
        // verify the required parameter 'organizationCode' is set
        if (string.IsNullOrWhiteSpace(organizationCode))
            throw new BsddApiException(400, "Missing required parameter 'organizationCode' when calling DictionaryUpdateApi->DictionaryUpdateDelete");
        // verify the required parameter 'code' is set
        if (string.IsNullOrWhiteSpace(code))
            throw new BsddApiException(400, "Missing required parameter 'code' when calling DictionaryUpdateApi->DictionaryUpdateDelete");

        var localVarPath = "/api/Dictionary/v1/{organizationCode}/{code}";
        var localVarPathParams = new Dictionary<string, string?>
        {
            { "organizationCode", ApiClientHelper.ParameterToString(organizationCode) }, // path parameter
            { "code", ApiClientHelper.ParameterToString(code) } // path parameter
        };

        await bsddApiClient.DeleteSecureAsync(localVarPath, localVarPathParams, ct);
    }

    /// <summary>
    /// Delete a dictionary version 
    /// </summary>
    /// <exception cref="BsddApiException">Thrown when fails to make API call</exception>
    /// <param name="organizationCode"></param>
    /// <param name="code"></param>
    /// <param name="version"></param>
    /// <returns>Task of ApiResponse</returns>
    public async Task DictionaryUpdateDeleteVersionAsync (string organizationCode, string code, string version, CancellationToken ct = default)
    {
        // verify the required parameter 'organizationCode' is set
        if (string.IsNullOrWhiteSpace(organizationCode))
            throw new BsddApiException(400, "Missing required parameter 'organizationCode' when calling DictionaryUpdateApi->DictionaryUpdateDeleteVersion");
        // verify the required parameter 'code' is set
        if (string.IsNullOrWhiteSpace(code))
            throw new BsddApiException(400, "Missing required parameter 'code' when calling DictionaryUpdateApi->DictionaryUpdateDeleteVersion");
        // verify the required parameter 'version' is set
        if (string.IsNullOrWhiteSpace(version))
            throw new BsddApiException(400, "Missing required parameter 'version' when calling DictionaryUpdateApi->DictionaryUpdateDeleteVersion");

        var localVarPath = "/api/Dictionary/v1/{organizationCode}/{code}/{version}";
        var localVarPathParams = new Dictionary<string, string?>
        {
            { "organizationCode", ApiClientHelper.ParameterToString(organizationCode) }, // path parameter
            { "code", ApiClientHelper.ParameterToString(code) }, // path parameter
            { "version", ApiClientHelper.ParameterToString(version) } // path parameter
        };

        await bsddApiClient.DeleteSecureAsync(localVarPath, localVarPathParams, ct);
    }

    /// <summary>
    /// Update the status of a Dictionary 
    /// </summary>
    /// <exception cref="BsddApiException">Thrown when fails to make API call</exception>
    /// <param name="organizationCode"></param>
    /// <param name="code"></param>
    /// <param name="version"></param>
    /// <param name="body">The new status of the dictionary. Only transitions allowed are: Preview --&gt; Active, Active --&gt; Inactive and Inactive --&gt; Active (optional)</param>
    /// <returns>Task of ApiResponse</returns>
    public async Task DictionaryUpdateStatusAsync(string organizationCode, string code, string version, string? body = null, CancellationToken ct = default)
    {
        // verify the required parameter 'organizationCode' is set
        if (string.IsNullOrWhiteSpace(organizationCode))
            throw new BsddApiException(400, "Missing required parameter 'organizationCode' when calling DictionaryUpdateApi->DictionaryUpdateStatus");
        // verify the required parameter 'code' is set
        if (string.IsNullOrWhiteSpace(code))
            throw new BsddApiException(400, "Missing required parameter 'code' when calling DictionaryUpdateApi->DictionaryUpdateStatus");
        // verify the required parameter 'version' is set
        if (string.IsNullOrWhiteSpace(version))
            throw new BsddApiException(400, "Missing required parameter 'version' when calling DictionaryUpdateApi->DictionaryUpdateStatus");

        var localVarPath = "/api/Dictionary/v1/{organizationCode}/{code}/{version}";
        var localVarPathParams = new Dictionary<string, string?>
        {
            { "organizationCode", ApiClientHelper.ParameterToString(organizationCode) }, // path parameter
            { "code", ApiClientHelper.ParameterToString(code) }, // path parameter
            { "version", ApiClientHelper.ParameterToString(version) } // path parameter
        };

        await bsddApiClient.PutSecureAsync(localVarPath, localVarPathParams, ct);
    }

    /// <summary>
    /// Upload a bSDD import model json file, see https://github.com/buildingSMART/bSDD/tree/master/Model/Import%20Model for more information.  Validation will be done asynchronously for large files (&gt;&#x3D; 15 MB). Validation results will be sent by e-mail. 
    /// </summary>
    /// <exception cref="BsddApiException">Thrown when fails to make API call</exception>
    /// <param name="organizationCode"> (optional)</param>
    /// <param name="formFile"> (optional)</param>
    /// <param name="validateOnly"> (optional)</param>
    /// <param name="isTest"> (optional)</param>
    /// <returns>Task of ApiResponse (UploadImportFileResultV2)</returns>
    public async Task<UploadImportFileResultV2> UploadImportFilePostAsync (string? organizationCode = null, byte[]? formFile = null, bool? validateOnly = null, bool? isTest = null, CancellationToken ct = default)
    {
        var localVarPath = "/api/UploadImportFile/v2";
        var localVarPathParams = new Dictionary<string, string>();
        var localVarFormParams = new Dictionary<string, string>();
        var localVarFileParams = new Dictionary<string, FileParameter>();

        if (organizationCode != null) localVarFormParams.Add("OrganizationCode", Configuration.ApiClient.ParameterToString(organizationCode)); // form parameter
        if (formFile != null) localVarFileParams.Add("FormFile", Configuration.ApiClient.ParameterToFile("FormFile", formFile));
        if (validateOnly != null) localVarFormParams.Add("ValidateOnly", Configuration.ApiClient.ParameterToString(validateOnly)); // form parameter
        if (isTest != null) localVarFormParams.Add("IsTest", Configuration.ApiClient.ParameterToString(isTest)); // form parameter

        return await bsddApiClient.PostSecureAsync<UploadImportFileResultV2>(localVarPath, localVarFormParams, localVarFileParams, localVarPathParams, ct);
    }
}